.wap-analysis-title {
  >.title {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;

    .label {
      width: 8px;
      height: 32px;
      background-color: $--color-wap-active-primary;
      margin-right: 24px;
    }

    .tip {
      margin-left: 16px;
      font-size: 24px;
      font-weight: 400;
      color: #6A707C;
    }
  }

  >p {
    color: #909399;
    margin: 16px 0 32px 0;
  }
}

.web-analysis-title {
  >.title {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .label {
      width: 3px;
      height: 14px;
      background-color: $--color-wap-active-primary;
      margin-right: 8px;
    }

  }

  .tip {
    font-size: 14px;
    font-weight: 400;
    color: #6A707C;
    margin-bottom: 16px;
  }

  >p {
    color: #909399;
    margin: 16px 0 32px 0;
  }
}


.question-common {

  img {
    // 设置图片最大宽度和居中对齐
    max-width: 100% !important;
    vertical-align: middle !important;
  }

  &-body {
    &-web {
      * {
        line-height: 52px !important;
        font-size: 18px !important;
        font-weight: 500 !important;
      }
    }
  }
}

.ml10 {
  margin-left: 10px;
}

.mt10 {
  margin-top: 10px;
}