/* 主题颜色 */
$--color-right-primary: #08BC95;
$--color-error-primary: #FB642A;
$--color-warning-primary: #FF9E0A;


/* 题库背景颜色 */
$--background:#FFF;

/*web题目标题背景颜色*/
$--color-tite-background :#ecebeb;
/*web题目标题分数颜色*/
$--color-tite-score:#909399;
/*web题目标题颜色*/
$--color-tite-headline:#303133;
/* web主题用色 */
$--color-warning-primary: #FFD700;
$--color-active-primary: #FFD700;
$--color-error-primary:#FF4D07;
$--color-right-primary: #18CB7F;
$--color-default-primary: #C0C4CC;


/*题目颜色*/
$--color-body:#303133;

/* 解析部分背景颜色*/
$--bkcolor-analysis: #fafafa;
/* 解析部分上边框颜色*/
$--broder-analysis:#000;

/* wap主题用色 */
$--color-wap-warning-primary: #FFD700;
$--color-wap-active-primary: #FFD700;
$--color-wap-error-primary:#FF4D07;
$--color-wap-right-primary: #18CB7F;
$--color-wap-default-primary: #C0C4CC;
/*wap题目标题背景颜色*/
$--wapcolor-tite-background :#FFFFFF;
/*wap题目标题分数颜色*/
$--wapcolor-tite-score:#606266;
/*wap题目标题颜色*/
$--wapcolor-tite-headline:#303133;


/*wap答题卡标题颜色*/
$--wapcolor-answer-main:#2B2F36;




