/* 用于存放变量 */

/* 应用主色 */
$--color-primary: #fff;
/* 应用次级颜色 */
$--color-secondary: #fff;
/* 成功/警告/危险/错误色 */
$--color-success: #fff;
$--color-warning: #fff;
$--color-danger: #fff;
$--color-error: #fff;
/* 禁用色 */
$--color-disabled: #fff;
/* 文字颜色设置 */
$--color-text-primary: #333;
$--color-text-regular: #666;
$--color-text-secondary: #999;
$--color-text-disable: #ccc;
$--color-text-placeholder: #ccc;